.container {
	width: 100%;
	margin-top: 50px;
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 20px;
}

.sliderContainer {
	position: relative;
}

.slider {
	position: relative;
	user-select: none;
	margin-top: 10px;
}

.slot {
	text-align: center;
	display: inline-block;
	height: 15px;
	background-color: lightgrey;
}

.scaleMark {
	position: absolute;
	border: 0.5px solid black;
	height: 10px;
}

.slotSelectedScale,
.slotScale {
	text-align: center;
	display: inline-block;
	height: 20px;
	color: lightgray;
	user-select: none;
}

.slotSelectedScale {
    color: black;
}

.slot > .sliderThumb {
	top: 3px;
}

.line {
	position: absolute;
	background-color: lightgray;
}

.lineSelected {
	height: 15px;
    width: 20px;
	background-color: rgb(140, 140, 249);
}

.priceSelected {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.priceSelected:hover {
	font-size: 22px;
}

.priceEditionContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.priceInput {
	margin-top: 30px;
	min-height: 25px;
	border-radius: 5px;
}

.editBtn {
	border-radius: 5px;
	background-color: rgb(74, 74, 254);
	color: white;
	text-transform: uppercase;
}
