.sliderThumb {
	position: absolute;
	background-color: #808080;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	top: -3px;
	touch-action: none;
	transition: all 0.2s;
    background-color: #4a4afe;
    z-index: 9;
}

.sliderThumb:hover {
	height: 30px;
	width: 30px;
	margin-top: -5px;
	margin-left: -5px;
    cursor: pointer;
}
